@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151937;
  box-sizing: border-box;
}

.banner .banner_text h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.button_gradient {
  @apply text-white py-3 px-6 rounded-3xl bg-gradient-orange-pink;
}

.text_gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  @apply bg-gradient-orange-pink;
}

.text_content {
  @apply text-white text-opacity-65;
}

.slick-dots li button:before {
  font-size: 15px;
  color: white;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #ff5ea3;
}

.button_subscribe {
  background: #fc8e51;
  background: -webkit-linear-gradient(to right, #fc8e51, #fa61f9);
  background: linear-gradient(to right, #fc8e51, #fa61f9);
}
